:root {
  --font-family:
    ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
  --black: #101214;
  --black-hsl: 210 11% 7%;
  --white: #f8f9fa;
  --white-hsl: 210 17% 98%;
  --bg: var(--white);
  --fg: var(--black);
  --bg-hsl: var(--white-hsl);
  --fg-hsl: var(--black-hsl);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--black);
    --fg: var(--white);
    --bg-hsl: var(--black-hsl);
    --fg-hsl: var(--white-hsl);
  }
  html {
    color-scheme: dark;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  background-color: var(--bg);
}
body {
  font-family: var(--font-family);
  color: var(--fg);
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 48rem;
  padding: 1rem 1rem 4rem;
  margin: auto;
}
p {
  margin: 0.25rem 0 0.5rem;
}
h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  line-height: 1.5;
  letter-spacing: -0.025em;
}
h2 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0.25rem 0 0.5rem;
  line-height: 1.25;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 1rem 0;
  padding: 1rem 0;
}

.centered {
  text-align: center;
}
.loading {
  font-size: 0.875rem;
}
.smaller {
  font-size: 0.875rem;
}
