:root {
  --font-family:
    ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
  --black: #101214;
  --white: #f8f9fa;
  --bg: var(--white);
  --fg: var(--black);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--black);
    --fg: var(--white);
  }
  html {
    color-scheme: dark;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  background-color: var(--bg);
}
body {
  font-family: var(--font-family);
  color: var(--fg);
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* delete later */
pre code {
  display: block;
  padding: 1rem;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
