.nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 24rem;
  margin: 1rem auto;
}
.link {
  line-height: 1.25;
  text-decoration: none;
  flex: 1 1 auto;
  display: block;
  text-align: center;
  color: hsl(var(--fg-hsl) / 0.95);
  background-color: hsl(var(--fg-hsl) / 0.03);
  border: 1px solid hsl(var(--fg-hsl) / 0.64);
  padding: 0.75rem 1rem;
  margin: 0;
  border-radius: 0.5rem;
  max-width: 10rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: 500;
  transform: scale(1);
  transition: all 0.2s;
}
.link:hover,
.link:active,
.link:focus {
  transform: scale(1.05);
}
.link:hover {
  background-color: hsl(var(--fg-hsl) / 0.1);
  border-color: hsl(var(--fg-hsl) / 0.8);
}
.link:active,
.link:focus {
  background-color: hsl(var(--fg-hsl) / 0.24);
  border-color: hsl(var(--fg-hsl) / 0.95);
}
.google {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 600;
  max-width: 14rem;
  font-size: 17px;
}
