.header {
  text-align: center;
}
.nav {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.link {
  text-decoration: none;
  flex: 1 1 auto;
  display: block;
  text-align: center;
  color: #e8eaed;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.64);
  padding: 0.75rem 1rem;
  margin: 1rem 1rem 2rem;
  border-radius: 0.5rem;
  max-width: 12rem;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: 500;
  transform: scale(1);
  transition: all 0.2s;
}
.link:hover,
.link:active,
.link:focus {
  transform: scale(1.05);
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.link:active,
.link:focus {
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px solid #e8eaed;
}
